.home-template {
  flex-basis: 50%;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  .section {
    text-align: center;
    scroll-snap-align: start;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
