.slider {
  &-full-page {
    .slick-slide {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
